*{
    box-sizing: border-box;
/*    display: table;*/
}
body{
    margin: 0;
    font-family: sans-serif;
}
.menuPrincipal {
    overflow: hidden;
    background-color: #333;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.menuPrincipal a {
    float: right;
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 46px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 13px;
    width: 15%;
}
.menuPrincipal a:hover{
    background-color: whitesmoke;
    color:black;
}
.imgSlide{
    max-width: 100%;
    height: auto;
    position:relative;
    display: none;
}
.flechaE, .flechaD{
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.5s;
}
.flechaE{
    left: 10%;
}
.flechaD{
    left: 90%;
}
.flechaE:hover{
    left: 9.5%;
}
.flechaD:hover{
    left: 90.5%;
}
.fade{    
    animation-name: fade;
    animation-duration: 1.5s;
}