body{
    font-family: Verdana;
}

.parallax {
    /* The image used */
    background-image: url("parallaxBackground.jpg");

    /* Set a specific height */
    min-height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.parallax h1{
    
  float: right;

  position: relative;
  left: -37%;
    top: 250px;
  text-align: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.menuHori{
    position: absolute;
    margin-top: 10px;
    font-size:25px;
    cursor: pointer;
    position: fixed;
    float: left;
    background-color:#ffffff ;
/*    opacity: 0.5;*/
    background: rgba(255, 255, 255, 0.5);;

}

.textoCentro{    
    background-color:#ffffff ;
    font-size:17px;
    text-align: center;
    margin: inherit;
    margin: 150px;
    opacity: 0.7;
}
alinharCentro{
    text-align: center;
}

img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    transition: opacity 1s;
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.listaP li{
    border-radius: 5px;
    background: #9b9b9b;
    padding: 5px;
    display: inline;
    transition: opacity 1s;
}
.listaP li:hover{
    background: #343434;
} 
.textoCentro .pLadoImg{
    margin-left: auto;
    margin-right: auto;
    width: 500PX;
    display: grid;
    float: none;
    padding: 0;
}

.textoCentro .imgAvatar{
    display: grid;
    width: 40%;
    height: 40%;
    float: left
}